.container, .container-lg, .container-md, .container-sm, .container-xl {
  max-width: 1500px;
}

.header-bar {
  padding-top:2px;
  background: #fff;
  text-align: center;
  height: 80px;
  width: 100%;
}

.header-left {
width: 20%;
text-align: left;
display: inline-block;
}

.header-center {
width: 60%;
display: inline-block;
text-align: center;
}

.header-right {
width: 20%;
display: inline-block;
text-align: right;
}

.header-img {
  display: inline-block;
  opacity: 1;
  height:50px;
  padding-top:10px;
  padding-left:10px;
  position: relative;
  vertical-align: middle;
}

.header-tag {
  display: inline-block;
  opacity: 1;
  width:400px;
  color:#002a5f;
  font-size: 36pt;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 200;
  text-align: center;
  vertical-align: middle;
}

a, a:hover {
text-decoration: none !important;
}


.headerrow {
  width: 100%;
}

.confidential {
  opacity: 1;
  color: #bbb;
  font-size: 18pt;
  padding-right: 30px;
  padding-top: 20px;
  vertical-align: text-bottom;
  float: right;
}

.bugcontact {
  color: #999;
}

.bugcontact a {
  color: #ddd
}

.bugcontact a:hover {
  color: #FFF;
}

@media screen and (max-width: 1270px){
.confidential {
  color: #bbb;
  font-size: 14pt;
}
}

@media screen and (max-width: 1030px){
.header-img {
  height: 45px;
}
.header-tag {
  font-size: 30pt;
}
.confidential {
  color: #bbb;
  font-size: 14pt;
}
}

@media screen and (max-width: 900px){
.header-img {
  height: 40px;
  padding-bottom: 4px;
}
.header-tag {
  display: none;
}
.confidential {
  display: none;
}

}
