<?xml version="1.0" encoding="utf-8"?>
<!--
     This configuration file is required if iisnode is used to run node processes behind
     IIS or IIS Express.  For more information, visit below link

     https://github.com/tjanczuk/iisnode/blob/master/src/samples/configuration/web.config
-->

<configuration>
    <system.webServer>
        <!-- indicates that the server.js file is a node.js application to be handled by the iisnode module -->
		<webSocket enabled="false" />
        <handlers>
            <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
        </handlers>

        <rewrite>
			<rules>
        <!-- Do not interfere with requests for node-inspector debugging -->
				<rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
					<match url="^server.js\/debug[\/]?" />
				</rule>

        <!-- First we consider whether the incoming URL matches a physical file in the /public folder -->
				<rule name="StaticContent">
					<action type="Rewrite" url="public{REQUEST_URI}" />
				</rule>

        <!-- All other URLs are mapped to the node.js site entry point -->
				<rule name="DynamicContent">
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
					</conditions>
					<action type="Rewrite" url="server.js" />
				</rule>
			</rules>
		</rewrite>
		
	<security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin" />
        </hiddenSegments>
      </requestFiltering>
       <authorization>
                <remove users="*" roles="" verbs="" />
                <add accessType="Allow" users="amlgm\cclark, amlgm\tknoob, amlgm\tnakagawa, amlgm\tonykim, amlgm\csnyder, amlgm\rcarter" />

                <add accessType="Allow" users="amlgm\rwhitley, amlgm\gfischer, amlgm\mcrossland, amlgm\bblock, amlgm\dmorris, amlgm\sknapp, amlgm\kbeecher, amlgm\mhsing" />
				<add accessType="Allow" users="amlgm\ecervantes, amlgm\ephan, amlgm\wjung, amlgm\kwada, amlgm\cmcwilliams" />


            </authorization>
    </security>
	
	<!-- Make sure error responses are left untouched -->
    <httpErrors existingResponse="PassThrough" />
     <!-- <httpErrors errorMode="DetailedLocalOnly">
      <remove statusCode="401" />
      <error statusCode="401" errorMode="Detailed"/>
    </httpErrors> -->
	<iisnode nodeProcessCommandLine="C:\Users\tech-cclark\AppData\Roaming\nvm\v10.23.0\node.exe" watchedFiles="web.config;*.js" />

    </system.webServer>
</configuration>