.cdk-virtual-scroll-viewport {
    height: 600px;
    width: 100%;
    margin-right:0;
}

.cdk-virtual-scroll-content-wrapper {
    width: 100%;
    float: left;
}

.cdk-row {
    width:100%
}

h2 .pagetitle {
  text-align:left;
  float: left;
}

.modalheaders {
  width: 700px;
}


.vendorrow {
    border: none;
    border-style: none;
    background: transparent;
    cursor: pointer;
}

.title {
  font-size: 12pt;
  color: #000;
  float: left;
  text-align: left;
}

.vendordata {
  width: 20%;
  display: inline-block;
  text-align: left;
  padding-left: 10px;
}

.invoicedata, .datedata, .financialdata, .costcode, .officedata {
  width: 8%;
  display: inline-block;
}

.invoicedata{
  text-align: left;
}

.costcode, .officedata {
  text-align: center;
}

.datedata, .financialdata {
  text-align: right;
  padding-right: 20px;
}

.descriptiondata {
  width: 20%;
  display: inline-block;
  text-align: left;
  margin-left: 10px;
}

.vendorname {
    text-align: left;
}

.button {
  border: none;
  border-style: none;
  background: transparent;
}



.arrow {
    display: inline-block;
}

.Odd {
    background-color: #efefef;
    display: flex;
    width: 100%;
    float: left;
    left: 30px;
}
.Odd:hover {
    background-color: #dfdfff;
}

.OddModal {
  background-color: #efefef;
  display: flex;
  width: 710px;
  float: left;
  left: 30px;
}

.Even {
    background-color: #dfdfdf;
    display: flex;
    width: 100%;
    float: left;
    left: 30px;
}

.Even:hover {
    background-color: #dfdfff;
}

.EvenModal {
  background-color: #dfdfdf;
  display: flex;
  width: 710px;
  float: left;
  left: 30px;
}


.transactions {  width: 100%; }
.datatable { display:flex; }

.centertitle {
  font-size: 12pt;
  color: #000;
  text-align: center;
}

.righttitle {
  font-size: 12pt;
  color: #000;
  float: right;
  text-align: right;
}

.col-1 {
    padding-left: 0px;
    padding-right: 0px;
}


.filtercontrols {
    padding-top: 15px;
}

.searchbarwrapper, .searchbar {
    padding-left: 0px;
    padding-right: 0px;
}

.spinner {
  border: 16px solid silver;
  border-top: 16px solid #002A5f;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1200ms linear infinite;
  top: 50%;
  left: 50%;
  position: absolute;
}

@keyframes spin {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

.ckbox {
    width: 15px;
    min-width: 15px;
    margin-left: 5px;
    display: inline-block;
}

.vendorname {
    padding-left: 10px;
}

.invoice {
    background: transparent;
    display: inline-block;
    /* text-align: center; */
}

.address {
    text-align: center;
    display: inline-block;
}

.paymentdate {
    text-align: center;
    display: inline-block;
}

.invoicecount {
    text-align: center;
    display: inline-block;
}

.total {
    text-align: center;
    padding-right:5px;
    max-width:130px;
}

.invoiceamount {
    text-align: right;
    display: inline-block;
    padding-right:5px;
    max-width:130px;
}

.payments {
    display: inline-block;
    padding-right: 10px;
    padding-left: 0px;
}

.transdetail {
    border: none;
    border-style: none;
    background: transparent;
    color: #002A5F;
    font-size: 10pt;
    padding-right: 20px;
}

.transdetail:hover {
    cursor:pointer;
}
