.cdk-virtual-scroll-viewport {
    height: 400px;
    width: 100%;
    margin-right:0;
}

.cdk-virtual-scroll-content-wrapper {
    width: 100%;
    float: left;
}

.cdk-row {
    width:100%
}

.Odd {
    background-color: #efefef;
    display: block;
    width: 100%;
    float: left;
    padding-right:2px;
}
.Odd:hover {
    background-color: #dfdfff;
}

.Even {
    background-color: #dfdfdf;
    display: block;
    width: 100%;
    float: left;
    padding-right:2px;
}

.Even:hover {
    background-color: #dfdfff;
}

.title {
    font-size: 14pt;
    color: #000;
}


.filtercontrols {
    padding-top: 15px;
}

.searchbar {
    padding-left: 0px;
    padding-right: 0px;
}

.vendorname .invoice  {
    background: transparent;
    display: inline-block;
}

.address {
    text-align: center;    
    display: inline-block;
}

.financial {
    text-align: right;
}

.columndata {
    display: inline-block;
}

.paymentdate {
    text-align: center;
    display: inline-block;
}

.invoicecount {
    text-align: center;
    display: inline-block;
}

.invoiceamount {
    text-align: right;
    display: inline-block;
    padding-right:5px;
    max-width:130px;
}

.payments {
    display: inline-block;
    padding-right: 10px;
    padding-left: 0px;
}

.transdetail {
    border: none;
    border-style: none;
    background: transparent;
    color: #002A5F;
    font-size: 10pt;
    padding-right: 20px;
}

.transdetail:hover {
    cursor:pointer;
}