<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>

<div class="main-body container" >

  <div *ngIf="loadingIndicator" class="spinner"></div>
  <div id="titleBar" class="row">
      <div class="col-10">
        <h2 class="pagetitle">{{pageTitle}}</h2>
      </div>
      <div class="col-2">
        <form  id="HistoryMenu" >
          <mat-form-field  id="history" >
            <mat-select  placeholder="Horizon" [value]="recordHistory">
              <mat-option  (click)="setRecordHistory(3);  addQueryParams({history: 3})" value="2018" >2018</mat-option>
              <mat-option  (click)="setRecordHistory(5);  addQueryParams({history: 5})" value="2015" >2015</mat-option>
              <mat-option  (click)="setRecordHistory(0);  addQueryParams({history: 0})" value="All" >All</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
        <!-- <button mat-raised-button (click)="displaySearch()">3 years</button>
        <button mat-raised-button (click)="displaySearch()">5 years</button>
        <button mat-raised-button (click)="displaySearch()">all</button> -->
  </div>
    <!--  *************************************************
            Display VENDORS
    *************************************************-->
  <div *ngIf="displayVendors" class="filtercontrols" id="Vendor filtercontrols">
    <div class="row"  id="searchbar">
      <div class="col-4 searchbar">
          <input class="form-control searchbar" id="SearchBar" placeholder="Search Vendor ONLY" value="" autofocus 
          [(ngModel)]="searchTerm" (input)="searchTerm ? addQueryParams({vendors: searchTerm}) : addQueryParams({vendors: null})"><br>
      </div>
      <div class="col-1" id="navigation"></div>
      <div class="col-4 searchbar">
        <input class="form-control searchbar" placeholder="Search by vendor or description" value="" 
          [(ngModel)]="searchString" (keydown.enter)="displaySearch(); addQueryParams({search: searchString})" ><br>
      </div>
      <div class="col-1" id="navigation">
          <button mat-raised-button (click)="displaySearch(); addQueryParams({search: searchString})">&nbsp;Search&nbsp;</button>
      </div>
      <div class="col-1" id="navigation">
        <button  mat-raised-button (click)="clearQueryParams()">Clear</button>
      </div>
    </div>
    <div class="row" id="idHeaders">
      <div class="vendorname title">Name </div>
      <div class="invoice title">Invoices</div>
      <div class="title address">City</div>
      <div class="title paymentdate">Last Payment</div>
      <div class="title total">Total</div>
      <div class="links title"></div>
    </div>

    <div class="row" id="dataTable">
      <cdk-virtual-scroll-viewport itemSize="20" id="vendorpage" class="vendorpage">
        <div *cdkVirtualFor="let vendor of vendors | vendors: searchTerm; let i = index; odd as isOdd; even as isEven"  >
          <button [class.Odd]="isOdd" [class.Even]="isEven"  class="vendorrow" (click)="vendorname = vendor.vendorname; currentVendor = vendor; getTransactions(vendor.vendoruno); ">
            <div class="vendorname">{{vendor.vendorname}}</div>
            <div class="invoice">{{vendor.invoices}}</div>
            <div class="address">{{vendor.city}}</div>
            <div class="paymentdate">{{vendor.lastpayment | date: "MMM-dd-yyyy": 'GMT+11:00'}}</div>
            <div class="invoiceamount">{{vendor.totalinvoiceamount  | currency :'USD':'symbol':'1.2-2' }}</div>
            <div class="transdetail" (click)="vendorname = vendor.vendorname; currentVendor = vendor; getTransactions(vendor.vendoruno)" >Payments </div>
            <!-- </button> -->

          </button>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>

  </div>




    <!--  *************************************************
            Display Transactions
    *************************************************-->

    <div *ngIf="displayTransactions" class="filtercontrols" id="Transaction filtercontrols">
        <div class="row" id="TransactionGeneralInfo">
            <div id="address" class="col-8">
                <h4>{{currentVendor.vendorname}}</h4>
                {{currentVendor.address1}}<br>
                {{currentVendor.citystatezip}}
            </div>
            <div class="col-2" id="spacer">      </div>
            <div class="col-2" id="navigation">
                <button mat-raised-button (click)="displayVendors = true; pageTitle= 'Vendors'; displayTransactions = false; currentVendor = null; ">&nbsp;Back&nbsp;</button>
            </div>

        </div>
        <div class="row">
            <div class="col-12"><hr></div>
        </div>

        <div class="row" id="TransactionButtons">
          <h3 class="col-8 pagetitle">Transactions</h3>
          <div class="col-1">&nbsp;</div>
          <div class="col-1">
            <button *ngIf="!this.selectTrans" mat-raised-button (click)="setAll()">&nbsp;Select&nbsp;</button>
            <button *ngIf="this.selectTrans" mat-raised-button (click)="setAll()">&nbsp;De-select&nbsp;</button>

          </div>
          <div class="col-1">
            <button mat-raised-button (click)="selectTransactions(); openWindow(viewSelectedTransactions)" >&nbsp;Calculate&nbsp;</button>
            <!-- <button mat-raised-button (click)="displayVendors = true; displayTransactions = false; currentVendor = null;">&nbsp;Calculate&nbsp;</button> -->
          </div>
        </div>

        <table class="container">
          <tbody>
            <tr class="titleheaders row" id="idHeaders" >
              <th class="ckbox" ></th>
              <th class="vendordata title">Vendor</th>
              <th class="invoicedata title">Invoice</th>
              <th class="title financialdata button" (click)="sortTransaction('amount')" >
                Amount<div *ngIf="amountdirection && sortByAmount" class="arrow">&darr;</div><div *ngIf="!amountdirection && sortByAmount" class="arrow">&uarr;</div>
              </th>
              <th class="title datedata button" (click)="sortTransaction('date')" >
                  Invoice Date <div *ngIf="datedirection && sortByDate" class="arrow">&uarr;</div><div *ngIf="!datedirection && sortByDate" class="arrow">&darr;</div>
              </th>
              <th class="title datedata button" (click)="sortTransaction('paid')" >
                Paid Date <div *ngIf="paiddirection && sortByPaid" class="arrow">&uarr;</div><div *ngIf="!paiddirection && sortByPaid" class="arrow">&darr;</div>
              </th>
              <th class="costcode title">Cost Code</th>
              <th class="officedata title">Office</th>
              <th class="description title">Description</th>
            </tr>

            <tr class="row" id="dataTable">
              <cdk-virtual-scroll-viewport itemSize="20" id="vendorpage" class="vendorpage">
                <div *cdkVirtualFor="let t of vendorTransactions  ; let i = index; odd as isOdd; even as isEven" class="datatable">
                  <div [class.Odd]="isOdd" [class.Even]="isEven"  >
                    <td class="ckbox"><input type="checkbox" [formControl]="transInclude[i].controls.update"></td>
                    <td class="vendordata">{{vendorname}}</td>
                    <td class="invoicedata">{{t.invoicenumber}}</td>
                    <td class="financialdata">{{t.invoiceamount | currency :'USD':'symbol':'1.2-2' }}</td>
                    <td class="datedata">{{t.invoicedate | date:'MMM-dd-yyyy': 'GMT+11:00'}}</td>  <!--{{t.invoicedate  | date:'MMM-dd-yyyy'}}-->
                    <td class="datedata">{{t.invoicepaiddate | date:'MMM-dd-yyyy': 'GMT+11:00'}}</td>
                    <td class="costcode">{{t.costcode}}</td>
                    <td class="officedata">{{t.officelocation}}</td>
                    <td class="descriptiondata">{{t.narrative}}  </td>
                  </div>
                </div>
              </cdk-virtual-scroll-viewport>
            </tr>

          </tbody>
        </table>

    </div>


    <!--  *************************************************
            Display SearchResults
    *************************************************-->

  <div *ngIf="displaySearchResults" class="filtercontrols" id="SeachResults">

    <div class="row" id="SearchResultsSearchBar">
      <div class="col-4 searchbar">
        <input class="form-control searchbar" placeholder="Search by vendor or description" value="searchString" [(ngModel)]="searchString" ><br>
      </div>
      <div class="col-1" id="navigation">
          <button mat-raised-button (click)="displaySearch(); addQueryParams({search: searchString})">&nbsp;Search&nbsp;</button>
      </div>
      <div class="col-1" id="navigation">
        <button  mat-raised-button (click)="clearQueryParams()">Clear</button>
      </div>
      <div class="col-3 searchbar">&nbsp;  </div>

      <div class="col-1"><button mat-raised-button (click)="clearQueryParams(); pageTitle = 'Vendors'; this.startDisplayResults == false; loadVendorData(); displayVendors = true; displayTransactions = false; displaySearchResults = false;">&nbsp;Back&nbsp;</button></div>
      <div class="col-1">
        <button *ngIf="!this.selectTrans" mat-raised-button (click)="setSearchAll()">&nbsp;Select&nbsp;</button>
        <button *ngIf="this.selectTrans" mat-raised-button (click)="setSearchAll()">&nbsp;De-select&nbsp;</button>

      </div>
      <div class="col-1">
        <button mat-raised-button (click)="selectSearchedItems(); openWindow(viewSelectedSearches)" >&nbsp;Calculate&nbsp;</button>
        <!-- <button mat-raised-button (click)="displayVendors = true; displayTransactions = false; currentVendor = null;">&nbsp;Calculate&nbsp;</button> -->
      </div>
    </div>

    <table class="container">
      <tbody>
        <tr class="titleheaders row" id="SearchResultsHeaders" >
          <th class="ckbox" ></th>
          <th class="vendordata title vendorbutton" (click)="sortName()" >Vendors
            <div *ngIf="sortnameASC && sortByName" class="arrow">&darr;</div><div *ngIf="!sortnameASC && sortByName" class="arrow">&uarr;</div>
          </th>
          <th class="invoicedata title ">Invoice</th>
          <th class="title financialdata button additionalpadding " (click)="sortAmount()" >
            Amount<div *ngIf="amountdirection && sortByAmount" class="arrow">&darr;</div><div *ngIf="!amountdirection && sortByAmount" class="arrow">&uarr;</div>
          </th>
          <th class="title datedata button " (click)="sortDate('date')">
            Invoice Date <div *ngIf="datedirection && sortByDate" class="arrow">&uarr;</div><div *ngIf="!datedirection && sortByDate" class="arrow">&darr;</div>
          </th>
          <th class="title datedata button" (click)="sortDate('paid')" >
            Paid Date <div *ngIf="paiddirection && sortByPaid" class="arrow">&darr;</div><div *ngIf="!paiddirection && sortByPaid" class="arrow">&uarr;</div>
          </th>
          <th class="costcode title ">Cost Code</th>
          <th class="officedata title ">Office</th>
          <th class="descriptiondata title">Description</th>
        </tr>

        <tr class="row" id="dataTable">
          <cdk-virtual-scroll-viewport itemSize="20" id="searchresultsrpage" class="vendorpage">
            <div *cdkVirtualFor="let s of searchDescriptions; let i = index; odd as isOdd; even as isEven" class="datatable">
              <div [class.Odd]="isOdd" [class.Even]="isEven" class="vendorrow">
                <td class="ckbox"><input type="checkbox" [formControl]="searchInclude[i].controls.update"></td>
                <td class="vendordata">{{s.vendorname}}</td>
                <td class="invoicedata">{{s.invoicenumber}}</td>
                <td class="financialdata">{{s.invoiceamount | currency :'USD':'symbol':'1.2-2' }}</td>
                <td class="datedata">{{s.invoicedate  | date:'MMM-dd-yyyy': 'GMT+11:00'}}</td>
                <td class="datedata">{{s.invoicepaiddate  | date:"MMM-dd-yyyy": 'GMT+11:00'}} </td>
                <td class="costcode">{{s.costcode}}</td>
                <td class="officedata">{{s.officelocation}}</td>
                <td class="descriptiondata">{{s.narrative}}</td>
              </div>
            </div>
          </cdk-virtual-scroll-viewport>
        </tr>

      </tbody>
    </table>

    

  </div>



</div>

<app-footer></app-footer>

<!-- model windows -->
<ng-template #viewSelectedTransactions let-modal>
  <div class="modal-header">
    <h3 class="modal-title">Selected Transactions</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('click close')">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="container">
      <tbody>
        <tr class="modalheaders row" id="idHeaders" >
          <th class="vendor title col-5">Back</th>
          <th class="invoice title col-2">Invoice</th>
          <th class="title col-2" >Date</th>
          <!-- <div class="links title col-1"></div> -->
          <th class="title col-2 "  >Amount</th>
          <!-- <div class="total title col-1">Total</div> -->
         </tr>

        <tr class="row" id="selectedTransactionsTable">
          <cdk-virtual-scroll-viewport itemSize="20" id="vendorpage" class="vendorpage">
            <div *cdkVirtualFor="let t of selectedTransactions  ; let i = index; odd as isOdd; even as isEven" >
                <!--| search: searchTerm-->
              <div [class.OddModal]="isOdd" [class.EvenModal]="isEven"  >
                <!-- <button class="vendor"  (click)="setVendor(vendors); openWindow(addMemberToCommitteesModal)" > -->
                  <td class="vendordata col-5">{{vendorname}}</td>
                  <td class="col-2 invoicedata">{{t.invoicenumber}}</td>
                  <td class="col-2 datedata">
                      {{t.invoicedate  | date:'MMM-dd-yyyy': 'GMT+11:00'}}<br>
                      paid: {{t.invoicepaiddate  | date:'MMM-dd-yyyy': 'GMT+11:00'}}
                  </td>
                  <td class="col-2 columndata financial">{{t.invoiceamount | currency :'USD':'symbol':'1.2-2' }}</td>
                <!-- </button> -->

              </div>
            </div>
          </cdk-virtual-scroll-viewport>
        </tr>
        <tr class="row" >
          <div class="col-2">Total</div>
          <!-- <div class="col-7">&nbsp;</div> -->
          <div class="col-2">{{modalTotal  | currency :'USD':'symbol':'1.2-2' }}</div>
        </tr>

      </tbody>
    </table>


  </div>
</ng-template>



<ng-template #viewSelectedSearches let-modal>
  <div class="modal-header">
    <h3 class="modal-title">Selected Invoices</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('click close')">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="container">
      <tbody>
        <tr class="modalheaders row" id="idHeaders" >
          <th class="vendor title col-4">Vendor</th>
          <th class="invoice title col-3">Invoice</th>
          <th class="title col-2" >Invoice Date</th>
          <!-- <div class="links title col-1"></div> -->
          <th class="title col-2 "  >Amount</th>
          <!-- <div class="total title col-1">Total</div> -->
         </tr>

        <tr class="row" id="selectedTransactionsTable">
          <cdk-virtual-scroll-viewport itemSize="20" id="vendorpage" class="vendorpage">
            <div *cdkVirtualFor="let s of selectedSearches  ; let i = index; odd as isOdd; even as isEven" >
                <!--| search: searchTerm-->
              <div [class.OddModal]="isOdd" [class.EvenModal]="isEven"  >
                <!-- <button class="vendor"  (click)="setVendor(vendors); openWindow(addMemberToCommitteesModal)" > -->
                  <td class="vendordata col-4">{{s.vendorname}}</td>
                  <td class="col-3 invoicedata">{{s.invoicenumber}}</td>
                  <td class="col-2 datedata">
                      {{s.invoicedate  | date:'MMM-dd-yyyy'}}<br>
                      paid: {{s.invoicepaiddate  | date:'MMM-dd-yyyy'}}
                  </td>
                  <td class="col-2 columndata financial">{{s.invoiceamount | currency :'USD':'symbol':'1.2-2' }}</td>
                <!-- </button> -->

              </div>
            </div>
          </cdk-virtual-scroll-viewport>
        </tr>
        <tr class="row" >
          <div class="col-2">Total</div>
          <!-- <div class="col-7">&nbsp;</div> -->
          <div class="col-2">{{modalTotal  | currency :'USD':'symbol':'1.2-2' }}</div>
          <div class="col-2">Count: {{selectedSearches.length}}</div>
        </tr>

      </tbody>
    </table>


  </div>
</ng-template>
