.cdk-virtual-scroll-viewport {
    height: 400px;
    width: 100%;
    margin-right:0;
}

.cdk-virtual-scroll-content-wrapper {
    width: 100%;
    float: left;
}

.cdk-row {
    width:100%
}

.pagetitle {
  text-align:left;
  float: left;
}

.modalheaders {
  width: 700px;
}

.vendor {
    margin-left: 30px;
}

.vendorrow {
    border: none;
    border-style: none;
    background: transparent;
    cursor: pointer;
}

.vendordata {
  width: 20%;
  display: inline-block;
  text-align: left;
  padding-left: 10px;
}

.invoicedata{
  width: 10%;
  display: inline-block;
}

.invoicedata {
  text-align: left;
}

.costcode, .officedata {
  text-align: center;
}

.datedata, .financialdata, .costcode, .officedata {
  width: 8%;
  display: inline-block;
}

.datadata, .financialdata {
  text-align: right;
}


.descriptiondata {
  width: 36%;
  display: inline-block;
  text-align: left;
}

.additionalpadding {
  padding-left: 20px;
}

.vendorname {
    text-align: left;
}

.vendorbutton, .databutton, .amountbutton {
  border: none;
  border-style: none;
  background: transparent;
}

.vendorbutton .datebutton {
    text-align: left;
}

.amountbutton {
    text-align: right;
}





.arrow {
    display: inline-block;
}

.Odd {
    background-color: #efefef;
    display: flex;
    width: 100%;
    float: left;
    left: 30px;
}
.Odd:hover {
    background-color: #dfdfff;
}

.OddModal {
  background-color: #efefef;
  display: flex;
  width: 710px;
  float: left;
  left: 30px;
}

.Even {
    background-color: #dfdfdf;
    display: flex;
    width: 100%;
    float: left;
    left: 30px;
}

.Even:hover {
    background-color: #dfdfff;
}

.EvenModal {
  background-color: #dfdfdf;
  display: flex;
  width: 710px;
  float: left;
  left: 30px;
}


.transactions {  width: 100%; }
.datatable { display:flex; }

.title {
    font-size: 14pt;
    color: #000;
    float: left;
    text-align: left;
}

.col-1 {
    padding-left: 0px;
    padding-right: 0px;
}


.filtercontrols {
    padding-top: 15px;
}

.searchbarwrapper, .searchbar {
    padding-left: 0px;
    padding-right: 0px;
}

.spinner {
  border: 16px solid silver;
  border-top: 16px solid #002A5f;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1200ms linear infinite;
  top: 50%;
  left: 50%;
  position: absolute;
}

@keyframes spin {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

.ckbox {
    width: 15px;
    min-width: 15px;
    margin-left: 5px;
    display: inline-block;
}

.vendorname {
    padding-left: 10px;
}

.invoice {
    background: transparent;
    display: inline-block;
    /* text-align: center; */
}

.address {
    text-align: center;
    display: inline-block;
}

.paymentdate {
    text-align: center;
    display: inline-block;
}

.invoicecount {
    text-align: center;
    display: inline-block;
}

.total {
    text-align: center;
    padding-right:5px;
    max-width:130px;
}

.invoiceamount {
    text-align: right;
    display: inline-block;
    padding-right:5px;
    max-width:130px;
}

.payments {
    display: inline-block;
    padding-right: 10px;
    padding-left: 0px;
}

.transdetail {
    border: none;
    border-style: none;
    background: transparent;
    color: #002A5F;
    font-size: 10pt;
    padding-right: 20px;
}

.transdetail:hover {
    cursor:pointer;
}
