<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>

<div class="main-body container" >

  <div *ngIf="loadingIndicator" class="spinner"></div>
    <!--  *************************************************
            Display VENDORS
    *************************************************-->
  <div *ngIf="displayVendors" class="filtercontrols" id="Vendor filtercontrols">
      <h2 class="row">Vendors</h2>
      <div class="row"  id="searchbar">
        <div class="col-4 searchbar">
            <!-- <input class="form-control searchbar" id="SearchBar" placeholder="Search by vendor" value="" autofocus
            [(ngModel)]="searchTerm" (input)="searchTerm ? addQueryParams({search: searchTerm}) : addQueryParams({search: null})"><br> -->
            <input class="form-control searchbar" placeholder="Search by vendor or description" value="" [(ngModel)]="searchString" ><br>


        </div>
        <div class="col-1" id="navigation">
            <button mat-raised-button (click)="displaySearch()">&nbsp;Search&nbsp;</button>
        </div>
        <div class="col-1" id="navigation">
          <button  mat-raised-button (click)="clearFilters()">Clear</button>
        </div>


          <!-- <div class="col-2 moveup10">
                  <form  class="moveup10" id="citymenu">
                          <mat-form-field ng-cloak id="citydropdown" [formGroup]="materials.cityMenu" >
                                  <mat-select placeholder="Office" class="useroptions" name="office" formControlName="cityController" [value]="cityid" >
                                          <mat-option (click)="addQueryParams({city: null});" [value]="">Firm-wide</mat-option>
                                          <mat-option (click)="addQueryParams({city: 4});" [value]="4" >Century City</mat-option>
                                          <mat-option (click)="addQueryParams({city: 1});" [value]="1" >Los Angeles</mat-option>
                                          <mat-option (click)="addQueryParams({city: 2});" [value]="2" >Orange County</mat-option>
                                          <mat-option (click)="addQueryParams({city: 3});" [value]="3" >San Diego</mat-option>
                                          <mat-option (click)="addQueryParams({city: 5});" [value]="5" >San Francisco</mat-option>
                                  </mat-select>
                          </mat-form-field>
                  </form>
          </div> -->


      </div>
      <div class="row" id="idHeaders">
        <div class="vendorname title col-4">Name </div>
        <div class="invoice title col-1">Invoices</div>
        <div class="title address col-2">City</div>
        <div class="title col-2 paymentdate">Last Payment</div>
        <div class="title total col-1">Total</div>
        <div class="links title col-1"></div>
      </div>

      <div class="row" id="dataTable">
        <cdk-virtual-scroll-viewport itemSize="20" id="vendorpage" class="vendorpage">
          <div *cdkVirtualFor="let vendor of vendors | search: searchTerm; let i = index; odd as isOdd; even as isEven" >
              <!--| search: searchTerm-->
            <div [class.Odd]="isOdd" [class.Even]="isEven" class="row" >
                <button class="vendorrow col-11"  (click)="vendorname = vendor.vendorname; currentVendor = vendor; getTransactions(vendor.vendoruno, 'date')">
                  <div class="row">
                    <div class="col-4 vendorname">{{vendor.vendorname}}</div>
                    <div class="col-2 invoicecount">{{vendor.invoices}}</div>
                    <div class="col-2 address">{{vendor.city}}</div>
                    <div class="col-2 paymentdate">{{vendor.lastpayment | date:'shortDate'}}</div>
                    <div class="col-1 invoiceamount">{{vendor.totalinvoiceamount  | currency :'USD':'symbol':'1.2-2' }}</div>
                  </div>
                </button>
                <div class="col-1 payments">
                    <button class="transdetail" (click)="vendorname = vendor.vendorname; currentVendor = vendor; getTransactions(vendor.vendoruno, 'date')" >Payments</button>
                </div>
              <!-- </button> -->

            </div>
          </div>
        </cdk-virtual-scroll-viewport>
      </div>

  </div>




    <!--  *************************************************
            Display Transactions
    *************************************************-->

    <div *ngIf="displayTransactions" class="filtercontrols" id="Transaction filtercontrols">
        <div class="row">
            <div id="address" class="col-8">
                <h4>{{currentVendor.vendorname}}</h4>
                {{currentVendor.address1}}<br>
                {{currentVendor.citystatezip}}
            </div>
            <div class="col-2" id="spacer">      </div>
            <div class="col-2" id="navigation">
                <button mat-raised-button (click)="displayVendors = true; displayTransactions = false; currentVendor = null;">&nbsp;Back&nbsp;</button>
            </div>

        </div>
        <div class="row">
            <div class="col-12"><hr></div>
        </div>

        <div class="row">
          <h3 class="col-8 pagetitle">Transactions</h3>
          <div class="col-1">&nbsp;</div>
          <div class="col-1">
            <button *ngIf="!this.selectTrans" mat-raised-button (click)="setAll()">&nbsp;Select&nbsp;</button>
            <button *ngIf="this.selectTrans" mat-raised-button (click)="setAll()">&nbsp;De-select&nbsp;</button>

          </div>
          <div class="col-1">
            <button mat-raised-button (click)="selectTransactions(); openWindow(viewSelectedTransactions)" >&nbsp;Calculate&nbsp;</button>
            <!-- <button mat-raised-button (click)="displayVendors = true; displayTransactions = false; currentVendor = null;">&nbsp;Calculate&nbsp;</button> -->
          </div>
        </div>

        <table class="container">
          <tbody>
            <tr class="titleheaders row" id="idHeaders" >
              <th class="ckbox" ></th>
              <th class="vendor title col-2">Vendor</th>
              <th class="invoice title col-2">Invoice</th>
              <th class="title datebutton col-1" (click)="getTransactions(currentVendor.vendoruno, 'date')" >
                  Date <div *ngIf="datedirection && sortByDate" class="arrow">&darr;</div><div *ngIf="!datedirection && sortByDate" class="arrow">&uarr;</div>
              </th>
              <!-- <div class="links title col-1"></div> -->
              <th class="title col-1 amountbutton" (click)="getTransactions(currentVendor.vendoruno, 'amount')" >
                  Amount<div *ngIf="amountdirection&& !sortByDate" class="arrow">&darr;</div><div *ngIf="!amountdirection&& !sortByDate" class="arrow">&uarr;</div>
              </th>
              <!-- <div class="total title col-1">Total</div> -->
              <th class="col-2 links title">Description</th>
              <th class="col-3 links title">&nbsp;</th>
            </tr>

            <tr class="row" id="dataTable">
              <cdk-virtual-scroll-viewport itemSize="20" id="vendorpage" class="vendorpage">
                <div *cdkVirtualFor="let t of vendorTransactions  ; let i = index; odd as isOdd; even as isEven" class="datatable">
                    <!--| search: searchTerm-->
                  <div [class.Odd]="isOdd" [class.Even]="isEven"  >
                    <!-- <button class="vendor"  (click)="setVendor(vendors); openWindow(addMemberToCommitteesModal)" > -->
                      <td class="ckbox">
                        <input type="checkbox" [formControl]="transInclude[i].controls.update">
                          <!-- (click)="setMembership(c.committeeid)"> -->
                      </td>
                      <td class="vendordata col-2">{{vendorname}}</td>
                      <td class="col-2 invoicedata">{{t.invoicenumber}}</td>
                      <td class="col-1 datedata">
                          {{t.transactionpostdate  | date:'shortDate'}}
                      </td>
                      <td class="col-1 financial">{{t.invoiceamount | currency :'USD':'symbol':'1.2-2' }}</td>
                      <td class="col-5 descriptiondata">{{t.invoicenarrative}}</td>
                    <!-- </button> -->

                  </div>
                </div>
              </cdk-virtual-scroll-viewport>
            </tr>

          </tbody>
        </table>

    </div>


    <!--  *************************************************
            Display SearchResults
    *************************************************-->

    <div *ngIf="displaySearchResults" class="filtercontrols" id="SeachResults">

      <div class="row">
        <h4 class="col-8 pagetitle">Search Results for: <strong>{{this.searchString}}</strong></h4>
        <div class="col-1"><button mat-raised-button (click)="displayVendors = true; displayTransactions = false; displaySearchResults = false;">&nbsp;Back&nbsp;</button></div>
        <div class="col-1">
          <button *ngIf="!this.selectTrans" mat-raised-button (click)="setSearchAll()">&nbsp;Select&nbsp;</button>
          <button *ngIf="this.selectTrans" mat-raised-button (click)="setSearchAll()">&nbsp;De-select&nbsp;</button>

        </div>
        <div class="col-1">
          <button mat-raised-button (click)="selectSearchedItems(); openWindow(viewSelectedSearches)" >&nbsp;Calculate&nbsp;</button>
          <!-- <button mat-raised-button (click)="displayVendors = true; displayTransactions = false; currentVendor = null;">&nbsp;Calculate&nbsp;</button> -->
        </div>
      </div>

      <table class="container">
        <tbody>
          <tr class="titleheaders row" id="SearchHeaders" >
            <th class="ckbox" ></th>
            <th class="vendordata title vendorbutton" (click)="sortName()" >
              Vendor<div *ngIf="sortnameASC && sortByName" class="arrow">&darr;</div><div *ngIf="!sortnameASC && sortByName" class="arrow">&uarr;</div>
            </th>
            <th class="invoicedata title ">Invoice</th>
            <th class="financialdata title amountbutton additionalpadding " (click)="sortAmount()" >
              Amount<div *ngIf="amountdirection && sortByAmount" class="arrow">&darr;</div><div *ngIf="!amountdirection && sortByAmount" class="arrow">&uarr;</div>
            </th>
            <th class="datedata title datebutton " (click)="sortDate()">
              Post Date <div *ngIf="datedirection && sortByDate" class="arrow">&darr;</div><div *ngIf="!datedirection && sortByDate" class="arrow">&uarr;</div>
            </th>
            <th class="costcode title ">Cost Code</th>
            <th class="officedata title ">Office</th>
            <th class="descriptiondata title">Description</th>
          </tr>

          <tr class="row" id="dataTable">
            <cdk-virtual-scroll-viewport itemSize="20" id="vendorpage" class="vendorpage">
              <div *cdkVirtualFor="let s of searchDescriptions  ; let i = index; odd as isOdd; even as isEven" class="datatable">
                  <!--| search: searchTerm-->
                <div [class.Odd]="isOdd" [class.Even]="isEven"  >
                  <!-- <button class="vendor"  (click)="setVendor(vendors); openWindow(addMemberToCommitteesModal)" > -->
                    <td class="ckbox">
                      <input type="checkbox" [formControl]="searchInclude[i].controls.update">
                        <!-- (click)="setMembership(c.committeeid)"> -->
                    </td>
                    <td class="vendordata">{{s.vendorname}}</td>
                    <td class="invoicedata">{{s.invoicenumber}}</td>
                    <td class="financialdata">{{s.invoiceamount | currency :'USD':'symbol':'1.2-2' }}</td>
                    <td class="datedata">{{s.transactionpostdate  | date:'shortDate'}}</td>
                    <td class="costcode">{{s.costcode}}</td>
                    <td class="officedata">{{s.officelocation}}</td>
                    <td class="descriptiondata">{{s.narrative}}</td>
                  <!-- </button> -->

                </div>
              </div>
            </cdk-virtual-scroll-viewport>
          </tr>

        </tbody>
      </table>

  </div>



</div>

<app-footer></app-footer>

<!-- model windows -->
<ng-template #viewSelectedTransactions let-modal>
  <div class="modal-header">
    <h3 class="modal-title">Selected Transactions</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('click close')">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="container">
      <tbody>
        <tr class="modalheaders row" id="idHeaders" >
          <th class="vendor title col-5">Vendor</th>
          <th class="invoice title col-2">Invoice</th>
          <th class="title col-2" >Date</th>
          <!-- <div class="links title col-1"></div> -->
          <th class="title col-2 "  >Amount</th>
          <!-- <div class="total title col-1">Total</div> -->
         </tr>

        <tr class="row" id="selectedTransactionsTable">
          <cdk-virtual-scroll-viewport itemSize="20" id="vendorpage" class="vendorpage">
            <div *cdkVirtualFor="let t of selectedTransactions  ; let i = index; odd as isOdd; even as isEven" >
                <!--| search: searchTerm-->
              <div [class.OddModal]="isOdd" [class.EvenModal]="isEven"  >
                <!-- <button class="vendor"  (click)="setVendor(vendors); openWindow(addMemberToCommitteesModal)" > -->
                  <td class="vendordata col-5">{{vendorname}}</td>
                  <td class="col-2 invoicedata">{{t.invoicenumber}}</td>
                  <td class="col-2 datedata">
                      {{t.transactionpostdate  | date:'shortDate'}}
                  </td>
                  <td class="col-2 columndata financial">{{t.invoiceamount | currency :'USD':'symbol':'1.2-2' }}</td>
                <!-- </button> -->

              </div>
            </div>
          </cdk-virtual-scroll-viewport>
        </tr>
        <tr class="row" >
          <div class="col-2">Total</div>
          <!-- <div class="col-7">&nbsp;</div> -->
          <div class="col-2">{{modalTotal  | currency :'USD':'symbol':'1.2-2' }}</div>
        </tr>

      </tbody>
    </table>


  </div>
</ng-template>



<ng-template #viewSelectedSearches let-modal>
  <div class="modal-header">
    <h3 class="modal-title">Selected Invoices</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('click close')">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="container">
      <tbody>
        <tr class="modalheaders row" id="idHeaders" >
          <th class="vendor title col-4">Vendor</th>
          <th class="invoice title col-3">Invoice</th>
          <th class="title col-2" >Date</th>
          <!-- <div class="links title col-1"></div> -->
          <th class="title col-2 "  >Amount</th>
          <!-- <div class="total title col-1">Total</div> -->
         </tr>

        <tr class="row" id="selectedTransactionsTable">
          <cdk-virtual-scroll-viewport itemSize="20" id="vendorpage" class="vendorpage">
            <div *cdkVirtualFor="let s of selectedSearches  ; let i = index; odd as isOdd; even as isEven" >
                <!--| search: searchTerm-->
              <div [class.OddModal]="isOdd" [class.EvenModal]="isEven"  >
                <!-- <button class="vendor"  (click)="setVendor(vendors); openWindow(addMemberToCommitteesModal)" > -->
                  <td class="vendordata col-4">{{s.vendorname}}</td>
                  <td class="col-3 invoicedata">{{s.invoicenumber}}</td>
                  <td class="col-2 datedata">
                      {{s.transactionpostdate  | date:'shortDate'}}
                  </td>
                  <td class="col-2 columndata financial">{{s.invoiceamount | currency :'USD':'symbol':'1.2-2' }}</td>
                <!-- </button> -->

              </div>
            </div>
          </cdk-virtual-scroll-viewport>
        </tr>
        <tr class="row" >
          <div class="col-2">Total</div>
          <!-- <div class="col-7">&nbsp;</div> -->
          <div class="col-2">{{modalTotal  | currency :'USD':'symbol':'1.2-2' }}</div>
          <div class="col-2">Count: {{selectedSearches.length}}</div>
        </tr>

      </tbody>
    </table>


  </div>
</ng-template>
