.cdk-virtual-scroll-viewport {
  height: 800px;
  width: 100%;
  margin-right:0;
}

.cdk-virtual-scroll-orientation-vertical {
display: flex;
float: left;
}

.cdk-virtual-scroll-content-wrapper {
display: flex;
float: left;
}

.cdk-row {
  width:100%
}

h2 .pagetitle {
text-align:left;
float: left;
}

.modalheaders {
width: 100%;
}


.vendorrow {
display:flex;
border: none;
border-style: none;
background: transparent;
cursor: pointer;
}

.title {
font-size: 12pt;
color: #000;
float: left;
text-align: left;
left: -15px;
}

.vendordata {
display: inline-block;
text-align: left;
padding-left: 10px;
}

.vendortitle {
  display: inline-block;
  text-align: left;
  padding-left: 20px;
}

.invoicedata {
  font-size: 9pt;
}

.datedata {
  margin-left: 10px;
}



.button {
border: none;
border-style: none;
background: transparent;
}



.arrow {
  display: inline-block;
}

.Odd {
  background-color: #efefef;
  width: 100%;
  display: flex;
  float: left;
  left: 30px;
}
.Odd:hover {
  background-color: #dfdfff;
}

.OddModal {
background-color: #efefef;
display: flex;
width: 100%;
float: left;
left: 30px;
}

.Even {
  background-color: #dfdfdf;
  width: 100%;
  display: flex;
  float: left;
  left: 30px;
}

.Even:hover {
  background-color: #dfdfff;
}

.EvenModal {
background-color: #dfdfdf;
display: flex;
width: 100%;
float: left;
left: 30px;
}


.transactions {  width: 100%; }
.datatable { display:flex; }

.centertitle {
font-size: 12pt;
color: #000;
text-align: center;
}

.righttitle {
font-size: 12pt;
color: #000;
float: right;
text-align: right;
}

.col-1 {
  padding-left: 0px;
  padding-right: 0px;
}


.filtercontrols {
  padding-top: 15px;
}

.spinner {
border: 16px solid silver;
border-top: 16px solid #002A5f;
border-radius: 50%;
width: 80px;
height: 80px;
animation: spin 1200ms linear infinite;
top: 50%;
left: 50%;
position: absolute;
}

.sb-example-1 .search {
  width:100%;
  position: relative;
  display: inline-block;
}
.searchbarwrapper, .searchbar {
  width:85%;
  padding-left: 0px;
  padding-right: 0px;
  display: inline-block;
}


.sb-example-1 .searchTerm {
  width: 100%;
  border: 1px solid #002A5F;
  border-right: none;
  padding: 2px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}
.sb-example-1 .searchTerm:focus{
  color: #004BA7;
}
.searchButton {
  top: 3px;
  width: 40px;
  height: 40px;
  border: 3px solid #eee;
  background-color: rgba(34, 85, 130, 0.5);;
  text-align: center;
  color: #fff;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  font-size: 20px;
}

@keyframes spin {
0% { transform: rotate(0deg) }
100% { transform: rotate(360deg) }
}

.ckbox {
  width: 15px;
  min-width: 15px;
  margin-left: 5px;
  display: inline-block;
}

.VendorName {
text-align: left;
width: 26%;
padding-left: 10px;
}

.Invoice, .Address, .PaymentDate, .InvoiceAmount, .InvoiceCount, .Payments {
  background: transparent;
  display: inline-block;
  width:8%;
}

.Invoice, .Address, .PaymentDate, .InvoiceCount, .Payments {
text-align: center;
}

.invoiceamount {
text-align: right;
}

.InvoiceData, .FinancialData, .CostCode, .OfficeData {
background: transparent;
display: inline-block;
width: 8%;
}

.DateData {
width: 10%;
display: inline-block;
}

.InvoiceData{
text-align: left;
}

.CostCode, .OfficeData {
text-align: center;
}

.DateData, .FinancialData {
text-align: right;
padding-right: 20px;
}

.DescriptionData {
width: 20%;
display: inline-block;
text-align: left;
margin-left: 10px;
}

.Total {
  text-align: center;
  padding-right:5px;
  max-width:130px;
}


.TransDetail {
  border: none;
  border-style: none;
  background: transparent;
  color: #002A5F;
  font-size: 10pt;
  padding-right: 20px;
  width: 30%;
}

.TransDetail:hover {
  cursor:pointer;
}
