<div class="menuBar">
  <div class="hamburger-icon">
    <!-- <div class="icon-image pe-7s-menu pe-7x pe-va" ></div> -->
    <i class="fa fa-bars fa-2x icon-image" ></i>
    <!-- <div class="hamburger-menu">
      <a class="menu-item" routerLink="/" >Personnel Directory</a><br>
      <a class="menu-item" routerLink="/committees/" >Committees</a><br>
      <a class="menu-item" routerLink="/templates/" >Templates</a><br>
      <a class="menu-item" routerLink="/new/" >New Contractor</a>
    </div>-->
  </div>


</div>

