/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import './assets/allenmatkins-theme.css';

.main-body {
    float: center;
    text-align: center;
    min-height: 500px;
}

.container {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    /* min-width: 1400px; */
}

.vendorpage {
    height: 500px;
}

.row, .headerrow, .footerrow {
    margin-left: 0;
    margin-right: 0;
    width: 1005;
}

.PaginationBar {
    width: 100%;
    display: block;
}

.pagecontrols {
    float: left;
}

.table-header {
    display:block;
}


.name-title, .committee-title, .location-title {
    font-weight: bold;
    font-size: 14pt;
    display: inline-block;
}

.name {
    vertical-align: top;
    font-weight: 500;
    display: inline-block;
    text-align: left;
}

.name a {
    color: #666;
    font-weight: bold;
    text-decoration: none;
}

.name:hover {
    color: #002a5f;
    font-weight: 500;
    text-decoration: none;
}

.location {
    font-size: 10pt;
    display: inline-block;
}

.committee {
    display: inline-block;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-size: 11pt;}

@media (min-width: 1200px) {
    .container {
        width: 98%;
        max-width: 2100px;
    }
}
